 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 __Objectives:__

List some of the popular languages that Data Scientists use are:

 - Python

 - R

 - Statistica

List some of the commonly used libraries used by Data Scientists include:

 1. Pandas

 2. Numpy

 3. Matplotlib

 4. Seaborn

 |Data Science Tools|
 |:----------------:|
 |      Python      |
 |      GitHub      |
 |      R           |

 ### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [6]:
200/60

3.3333333333333335

## Author:

Daniela Knoll